<div class="bg">
  <div class="gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 rtl class="main-heading">Human position history</h1>
      </div>
    </div>
    <div class="row align-items-end">

      <div class="offset-md-2 col-md-8 entry">
        <mat-accordion>
          <mat-expansion-panel expanded class="of-v" (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filtr panel
              </mat-panel-title>
              <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="row">
              <mat-form-field class="col">
                <mat-select placeholder="Object name">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-select placeholder="Location category">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-select placeholder="Devision/Department">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-select placeholder="Object type">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-select placeholder="Zone subtype">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-select placeholder="Name of the mining">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-select placeholder="Name of lived">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                <mat-select placeholder="Additional zone type">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input (focus)="showDateFrom = true" [(ngModel)]="newDateFrom" matInput placeholder="Start date: Date/time">
                </mat-form-field>
                <angular2-date-picker class="custome-date-time-picker dark-theme" (onDateSelect)="onDateFromSelect($event)"
                  [ngClass]="{'show-datepicker': showDateFrom}" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input (focus)="showDateTo = true" [(ngModel)]="newDateto" matInput placeholder="End date: Date/time">
                </mat-form-field>
                <angular2-date-picker class="custome-date-time-picker dark-theme" (onDateSelect)="onDateToSelect($event)"
                  [ngClass]="{'show-datepicker': showDateTo}" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
              </div>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-select placeholder="Period">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <textarea matInput placeholder="Total records"></textarea>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col">
                <mat-select placeholder="Records per page">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row justify-content-end">
              <button mat-raised-button color="primary">Save table as xls</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="col-md-12 col-lg-12 mat-elevation-z8 table-wrap p-0">

        <div class="table-wrap">
          <table mat-table [dataSource]="dataSource">

            <ng-container *ngFor="let item of displayedColumns; let i = index" matColumnDef="{{item}}">
              <th mat-header-cell *matHeaderCellDef>
                <span class="header-table-item" (click)="sortFilds(item)">
                  {{item}}
                  <span class="sort-arrow-wrap">
                    <i class="material-icons" [ngClass]="{'up': sortDirection === 'ASC' && sortField === item, 'active': (sortField === item && showSortArrow === true), 'hide': !showSortArrow || sortDirection === null}">
                      arrow_downward
                    </i>
                  </span>
                </span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="cell-table-item">
                  {{element[item]}}
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>

        <mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = getPaginatorData($event)"></mat-paginator>

      </div>
    </div>
  </div>
</div>